:root {
    --c1: #394a6d;
    --c2: #e7dfd5;
    --c3: #64b2cd;
    --c4: #da9833;
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kanit', sans-serif;
}

body {
    background-image: url('/static/bg.jpg');
    background-size: cover;
}

.body {
    background-color: rgba(51, 80, 91, 0.2) !important;
    min-height: 100vh;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0) !important;
    color: var(--c1) !important;
}

.jumbotron h1,
.jumbotron p {
    margin: 0 !important;
    color: var(--c2) !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--c1);
}

::-webkit-scrollbar-thumb {
    background: var(--c4);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--c4);
}

#msgbox {
    max-width: 640px;
}